<template>
  <div class="container">
    <div class="signup-content">
      <div class="signup-img">
        <img src="/images/form-img.png" alt />
        <div class="signup-img-content">
          <h2>Pendaftaran openSUSE.Asia Summit 2019</h2>
          <p>Tempat Terbatas!</p>
          <p>
            Dapatkan
            <i>cashback</i>
            <br />untuk 200 pendaftar pertama
          </p>
        </div>
      </div>
      <div class="signup-form">
        <form class="register-form">
          <div class="form-row parent">
            <div class="form-group child2">
              <div class="card">
                <div class="card-header">
                  Syarat dan Ketentuan
                  <i>Cashback</i> - openSUSE.Asia Summit 2019
                </div>
                <div class="card-body">
                  <ol>
                    <li>
                      <i>Cashback</i> maksimal satu kali untuk satu akun MyCOOP.
                    </li>
                    <li>
                      <i>Cashback</i> untuk tiket mahasiswa adalah sebesar Rp50.000 per tiket per akun MyCOOP (
                      <i>Cashback</i> 100%).
                    </li>
                    <li>
                      <i>Cashback</i> untuk tiket umum adalah sebesar Rp50.000 per tiket per akun MyCOOP (
                      <i>Cashback</i> 50%).
                    </li>
                    <li>
                      <i>Cashback</i> akan diberikan dalam kurun waktu 7 hari sampai pada hari pertama acara.
                    </li>
                    <li>
                      <i>Cashback</i> akan diberikan langsung di akun MyCOOP masing-masing peserta.
                    </li>
                  </ol>
                  <p style="color: #000000;">
                    Punya pertanyaan? Hubungi kami di
                    <a
                      href="mailto:humas@opensuse.id?subject=Daftar Peserta openSUSE.Asia Summit 2019"
                    >humas@opensuse.id</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
