<template>
  <div class="container">
    <div class="signup-content">
      <div class="signup-img">
        <img src="/images/form-img.png" alt />
        <div class="signup-img-content">
          <h2>Pendaftaran openSUSE.Asia Summit 2019</h2>
          <p>Tempat Terbatas!</p>
          <p>
            Dapatkan
            <i>cashback</i>
            <br />untuk 200 pendaftar pertama
          </p>
        </div>
      </div>
      <div class="signup-form">
        <div class="signup-form">
          <div class="register-form">
            <h1>Mohon maaf, saat ini semua tiket sudah habis terjual.</h1>
            <h4>Sampai jumpa di Bali (:</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
